.CardItem{
  position: relative;

  width: 220px;
  height: 220px;

  background-color: gray;

  border-radius: 8px;

  margin-bottom: 100px;
}

.CardItemHover{
  position: relative;

  width: 220px;
  height: 220px;

  background-color: gray;

  border-radius: 8px;
  cursor: pointer;

  opacity: 1;
}

.CardItemDefault{
  position: relative;

  width: 220px;
  height: 220px;

  background-color: gray;

  border-radius: 8px;
  cursor: pointer;

  opacity: 0;
}

.CardItemDisabled{
  position: relative;

  width: 220px;
  height: 220px;

  background-color: gray;

  border-radius: 8px;
  cursor: pointer;

  opacity: 0.5;
}

.background{
  background-color: #777;
}

.subjcet{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  gap: 4px;

  position: absolute;
  width: 127px;
  height: 22px;
  left: 12px;
  top: 12px;

  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.subject p{
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;

  display: flex;
  align-items: center;

  color: #FFFFFF;
  
}

.name{
  font-weight: 400;
  font-size: 8px;
  line-height: 11px;

  position: absolute;
  bottom: 12px;
  left: 12px;

   color: #FFFFFF;
}


.like{
  position: absolute;
  color: #FFFFFF;
  right: 12px;
  bottom: 12px;
  font-size: 12px;
}


